$main_color: #4a94da;
.progress {
  margin: 60px 0;
  fill: $main_color;
  &__content {
    @apply flex flex-nowrap items-center justify-center;
    color: $main_color;
    &__item {
      margin: 0 47.5px;
      width:60%;
      @apply relative flex flex-col justify-center items-center whitespace-nowrap border rounded-full;
      width: 60px;
      height: 60px;
      border-color: $main_color;
      &:nth-last-child(1) { //最後一個元素後面不產生線條
        &::before {
          display: none;
        }
      }
      &::before {
        @apply absolute;
        top: 29px;
        left: 59px;
        display: block;
        content: "";
        height: 2px;
        width: 96px;
        background-color: $main_color;
        @media (max-width:540px){
            width:40px;
        }
      }
      &--nowDo {
        @apply border;
        &::before {
          opacity: 1;
        }
      }
      &--notNow {
        @apply border-dashed;
        opacity: 0.5;
        &::before {
          opacity: 0.5;
        }
      }
      > .step {
        width: 32px;
        height: 32px;
        padding: 4px;
      }
      &__text {
        @apply absolute bottom-0;
        top: 70px;
      }
      @media (max-width:540px){
        margin: 0 20px;
    }
    }
  }
}